**/sim/obj_dir/
db/*
incremental_db/*
greybox_tmp/*
output_files/*
sim/obj_dir/*
db/.cmp.kpt
db/mult_p5t.tdf
db/pll_ip_altpll.v
db/prev_cmp_Simple_VGA.qmsg
db/Simple_VGA.(0).cnf.cdb
db/Simple_VGA.(0).cnf.hdb
db/Simple_VGA.(1).cnf.cdb
db/Simple_VGA.(1).cnf.hdb
db/Simple_VGA.(2).cnf.cdb
db/Simple_VGA.(2).cnf.hdb
db/Simple_VGA.(3).cnf.cdb
db/Simple_VGA.(3).cnf.hdb
db/Simple_VGA.(4).cnf.cdb
db/Simple_VGA.(4).cnf.hdb
db/Simple_VGA.ae.hdb
db/Simple_VGA.analyze_file.qmsg
db/Simple_VGA.asm.qmsg
db/Simple_VGA.asm.rdb
db/Simple_VGA.asm_labs.ddb
db/Simple_VGA.cbx.xml
db/Simple_VGA.cmp.bpm
db/Simple_VGA.cmp.cdb
db/Simple_VGA.cmp.hdb
db/Simple_VGA.cmp.idb
db/Simple_VGA.cmp.logdb
db/Simple_VGA.cmp.rdb
db/Simple_VGA.cmp_merge.kpt
db/Simple_VGA.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
db/Simple_VGA.cycloneive_io_sim_cache.45um_ss_1200mv_0c_slow.hsd
db/Simple_VGA.cycloneive_io_sim_cache.45um_ss_1200mv_85c_slow.hsd
db/Simple_VGA.db_info
db/Simple_VGA.fit.qmsg
db/Simple_VGA.hier_info
db/Simple_VGA.hif
db/Simple_VGA.lpc.html
db/Simple_VGA.lpc.rdb
db/Simple_VGA.lpc.txt
db/Simple_VGA.map.ammdb
db/Simple_VGA.map.bpm
db/Simple_VGA.map.cdb
db/Simple_VGA.map.hdb
db/Simple_VGA.map.kpt
db/Simple_VGA.map.logdb
db/Simple_VGA.map.qmsg
db/Simple_VGA.map.rdb
db/Simple_VGA.map_bb.cdb
db/Simple_VGA.map_bb.hdb
db/Simple_VGA.map_bb.logdb
db/Simple_VGA.pplq.rdb
db/Simple_VGA.pre_map.cdb
db/Simple_VGA.pre_map.hdb
db/Simple_VGA.root_partition.map.reg_db.cdb
db/Simple_VGA.routing.rdb
db/Simple_VGA.rtlv.hdb
db/Simple_VGA.rtlv_sg.cdb
db/Simple_VGA.rtlv_sg_swap.cdb
db/Simple_VGA.sld_design_entry.sci
db/Simple_VGA.sld_design_entry_dsc.sci
db/Simple_VGA.smart_action.txt
db/Simple_VGA.sta.qmsg
db/Simple_VGA.sta.rdb
db/Simple_VGA.sta_cmp.8_slow_1200mv_85c.tdb
db/Simple_VGA.tis_db_list.ddb
db/Simple_VGA.tiscmp.fast_1200mv_0c.ddb
db/Simple_VGA.tiscmp.fastest_slow_1200mv_0c.ddb
db/Simple_VGA.tiscmp.fastest_slow_1200mv_85c.ddb
db/Simple_VGA.tiscmp.slow_1200mv_0c.ddb
db/Simple_VGA.tiscmp.slow_1200mv_85c.ddb
db/Simple_VGA.vpr.ammdb
db/Simple_VGA_partition_pins.json
incremental_db/compiled_partitions/Simple_VGA.db_info
incremental_db/compiled_partitions/Simple_VGA.root_partition.cmp.ammdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.cmp.cdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.cmp.dfp
incremental_db/compiled_partitions/Simple_VGA.root_partition.cmp.hdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.cmp.logdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.cmp.rcfdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.map.cdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.map.dpi
incremental_db/compiled_partitions/Simple_VGA.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/Simple_VGA.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/Simple_VGA.root_partition.map.hdb
incremental_db/compiled_partitions/Simple_VGA.root_partition.map.kpt
incremental_db/compiled_partitions/Simple_VGA.rrp.hdb
greybox_tmp/cbx_args.txt
incremental_db/README
output_files/Simple_VGA.asm.rpt
output_files/Simple_VGA.done
output_files/Simple_VGA.fit.rpt
output_files/Simple_VGA.fit.smsg
output_files/Simple_VGA.fit.summary
output_files/Simple_VGA.flow.rpt
output_files/Simple_VGA.jdi
output_files/Simple_VGA.map.rpt
output_files/Simple_VGA.map.summary
output_files/Simple_VGA.pin
output_files/Simple_VGA.sld
output_files/Simple_VGA.sof
output_files/Simple_VGA.sta.rpt
output_files/Simple_VGA.sta.summary
pll_ip.ppf
pll_ip.qip
pll_ip.v
pll_ip.v.bak
pll_ip_bb.v
sim/obj_dir/simulator.d
sim/obj_dir/simulator.o
sim/obj_dir/VDevelopmentBoard
sim/obj_dir/VDevelopmentBoard.cpp
sim/obj_dir/VDevelopmentBoard.h
sim/obj_dir/VDevelopmentBoard.mk
sim/obj_dir/VDevelopmentBoard__ALL.a
sim/obj_dir/VDevelopmentBoard__ALL.cpp
sim/obj_dir/VDevelopmentBoard__ALL.d
sim/obj_dir/VDevelopmentBoard__ALL.o
sim/obj_dir/VDevelopmentBoard__Slow.cpp
sim/obj_dir/VDevelopmentBoard__Syms.cpp
sim/obj_dir/VDevelopmentBoard__Syms.h
sim/obj_dir/VDevelopmentBoard_classes.mk
sim/obj_dir/verilated.d
sim/obj_dir/verilated.o
Simple_VGA.qpf
Simple_VGA.qsf
Simple_VGA.qws
Simple_VGA.v.bak
simulator.cpp.bak
vga_ctrl.v.bak
vga_pic.v.bak
SchematicDiagram/.$SchematicDiagram.drawio.bkp
